@font-face {
  font-family: 'Quicksand'; /* Choose a unique name for your font */
  src: url('./fonts/Quicksand-Regular.ttf') format('truetype'); /* Update the file path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand-Bold'; /* Choose a unique name for your font */
  src: url('./fonts/Quicksand-Bold.ttf') format('truetype'); /* Update the file path and format */
  font-weight: normal;
  font-style: normal;
}

/* Repeat the @font-face block for other font weights/styles if applicable */
@font-face {
  font-family: 'GothicA1'; /* Choose a unique name for your font */
  src: url('./fonts/GothicA1-Regular.ttf') format('truetype'); /* Update the file path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothicA1-Bold'; /* Choose a unique name for your font */
  src: url('./fonts/GothicA1-Bold.ttf') format('truetype'); /* Update the file path and format */
  font-weight: normal;
  font-style: normal;
}


body {
  background: linear-gradient(115deg, #011823, #7bc1e1); /* Replace with your gradient colors and angle */
}


.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  border: none;
  border-radius: 50px;
  padding: 30px;
  width: 316px;
  height: 479px;
  background: #d9d9d9;
  box-shadow: 12px 12px 5px rgba(10, 10, 10, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

label {
  font-family: 'GothicA1', sans-serif;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  padding-right: 1px;
  padding-left: 1px;
  padding-inline-start: 5px;
  margin-bottom: 15px;
  border: 1.7px solid transparent; /* Set a transparent border initially */
  border-image: linear-gradient(45deg, #75B9D9, #05364C); /* Gradient color for the border */
  border-image-slice: 1;
  -webkit-background-clip: text;
  font-size: 8px;
}


button {
  background: #7bc1e1;
  color: #338BB2;
  border: none;
  padding: 10px 20px; /* Add padding to make the button clickable */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer;
  font-family: 'GothicA1-Bold';
  font-size: 20px;
  transition: color 0.3s ease; /* Smooth transition for color change */
  float: right;
  top: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
}

button:hover {
  /* color: #07384F; Change the text color on hover */
  background: #338BB2; /* Change the background color on hover */
}

.submitButton {
  margin-top: 40px;
  margin-left: 5px;
  font-size: 15px;
  font-family: 'GothicA1-Bold'; 
  width: 100px;
}



.Admin{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.Loginword{
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.Admin, .Loginword{
  line-height: 1.17;
  font-family: 'Quicksand-Bold', sans-serif;
  background: linear-gradient(45deg, #7bc1e1, #154961); /* Gradient color for "Admin" */
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.username{
  font-family: 'GothicA1-Regular', sans-serif;
  text-align: left;
}

.side-logo {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}

.Servicita{
  color: white;
  font-family: 'Quicksand-Bold', sans-serif;
  font-size: 50px;
  position: absolute;
  top: 35px;
  left: 150px;
}

.ServicitaHeader {
  margin-top: 15px;
  font-family: 'Quicksand-Bold', sans-serif; 
}

.TopPerforming {
  width:auto;
}